.gigsmadesimpler{
    padding: 80px 0px;
    grid-template-columns: 1fr 1fr;
    top: 540px;
}

.gigsmadesimpler_header{
    width: 618px;
    font-family: Inter;
    line-height: 58.09px;
    color: #03045E;
}

.gigsmadesimpler_text{
    left: 60px;
    width: 570px;
    font-family: Outfit;
    color: #03045E;
}

.gigsmadesimpler_button{
    top: 20px;
    width: 390px;
}

.gigsmadesimpler_register{
    border-radius: 20px;
    background: #03045E;
    color: aliceblue;
}

.gigsmadesimpler_learn_more{
    border-radius: 20px;
    border: 1px solid #03045E;
    background: #1A73E8;
    color: aliceblue;
}